# Personal files
downloads/
androidrepo/config.py
androidrepo/*.session*
androidrepo/database/*.sqlite*

# Byte pre-compiled
androidrepo/__pycache__/
androidrepo/handlers/utils/__pycache__/
androidrepo/handlers/__pycache__/
androidrepo/database/__pycache__/
androidrepo/utils/__pycache__/
